@media screen and (max-width: 1020px){
    body{
        font-size: 150% !important;
    }
    .hide{
      display: none !important;
    }
    .login_div{
        margin-top: 50% !important;
    }
}
@media screen and (min-width: 1020px){
    .hidemaincat{
      display: none !important;
    }
}
html{font-size:100%;} 
@media(min-width:60em){html{font-size: 100%}}